body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:6081px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2015px;
  height:2096px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:2051px;
  top:1229px;
  width:2015px;
  height:2096px;
  display:flex;
}
#u1475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1922px;
  height:1944px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:2098px;
  top:1305px;
  width:1922px;
  height:1944px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u1476 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1476_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2062px;
  height:3187px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:4019px;
  top:1229px;
  width:2062px;
  height:3187px;
  display:flex;
}
#u1477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1968px;
  height:3111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:4066px;
  top:1305px;
  width:1968px;
  height:3111px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u1478 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4030px;
  height:836px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:2051px;
  top:393px;
  width:4030px;
  height:836px;
  display:flex;
}
#u1479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3983px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:2098px;
  top:575px;
  width:3983px;
  height:232px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u1480 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:173px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:150px;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:3466px;
  top:220px;
  width:1200px;
  height:173px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:150px;
}
#u1481 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1481_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:77px;
  width:1125px;
  height:2436px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:2602px;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:1299px;
  height:2602px;
  display:flex;
}
#u1483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:220px;
  width:29px;
  height:50px;
  display:flex;
  color:#000000;
}
#u1484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:754px;
  background:inherit;
  background-color:rgba(255, 243, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:918px;
  width:1007px;
  height:754px;
  display:flex;
}
#u1485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:45px;
  color:#555555;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:1195px;
  width:690px;
  height:170px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:45px;
  color:#555555;
}
#u1486 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:171px;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:1141px;
  width:171px;
  height:171px;
  display:flex;
}
#u1487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#555555;
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:1365px;
  width:386px;
  height:54px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#555555;
}
#u1488 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1488_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel ', 'Hel', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#666666;
}
#u1490 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:105px;
  width:233px;
  height:58px;
  display:flex;
  font-family:'Hel ', 'Hel', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#666666;
}
#u1490 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:46px;
}
#u1491 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:113px;
  width:74px;
  height:46px;
  display:flex;
}
#u1491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:108px;
  background:inherit;
  background-color:rgba(250, 84, 28, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:44px;
  color:#FFFFFF;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:2319px;
  width:765px;
  height:108px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:44px;
  color:#FFFFFF;
}
#u1492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
