body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:6081px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1871 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:83px;
  width:1125px;
  height:2436px;
  display:flex;
}
#u1871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:2602px;
}
#u1872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:2602px;
  display:flex;
}
#u1872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel ', 'Hel', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#666666;
}
#u1874 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:102px;
  width:233px;
  height:58px;
  display:flex;
  font-family:'Hel ', 'Hel', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#666666;
}
#u1874 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:46px;
}
#u1875 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:110px;
  width:74px;
  height:46px;
  display:flex;
}
#u1875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:473px;
  background:inherit;
  background-color:rgba(255, 142, 106, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:10px 10px 20px rgba(127, 127, 127, 0.349019607843137);
  -webkit-box-shadow:10px 10px 20px rgba(127, 127, 127, 0.349019607843137);
  box-shadow:10px 10px 20px rgba(127, 127, 127, 0.349019607843137);
}
#u1876 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:366px;
  width:969px;
  height:473px;
  display:flex;
}
#u1876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:41px;
}
#u1877 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:237px;
  width:182px;
  height:84px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:41px;
}
#u1877 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#1F1F1F;
}
#u1878 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:526px;
  width:196px;
  height:55px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#1F1F1F;
}
#u1878 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:236px;
}
#u1879 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:426px;
  width:236px;
  height:236px;
  display:flex;
}
#u1879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:52px;
}
#u1880 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:724px;
  width:342px;
  height:78px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:52px;
}
#u1880 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1880_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:367px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(250, 84, 28, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:42px;
}
#u1881 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:1051px;
  width:278px;
  height:367px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:42px;
}
#u1881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:367px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(250, 84, 28, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:42px;
}
#u1882 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:1051px;
  width:278px;
  height:367px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:42px;
}
#u1882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:367px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(250, 84, 28, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:42px;
}
#u1883 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:1051px;
  width:278px;
  height:367px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:42px;
}
#u1883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2015px;
  height:1988px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1884 {
  border-width:0px;
  position:absolute;
  left:2051px;
  top:577px;
  width:2015px;
  height:1988px;
  display:flex;
}
#u1884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1922px;
  height:1944px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u1885 {
  border-width:0px;
  position:absolute;
  left:2098px;
  top:653px;
  width:1922px;
  height:1944px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u1885 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1885_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2062px;
  height:3187px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1886 {
  border-width:0px;
  position:absolute;
  left:4019px;
  top:577px;
  width:2062px;
  height:3187px;
  display:flex;
}
#u1886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1968px;
  height:3111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u1887 {
  border-width:0px;
  position:absolute;
  left:4066px;
  top:653px;
  width:1968px;
  height:3111px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u1887 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4030px;
  height:424px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1888 {
  border-width:0px;
  position:absolute;
  left:2051px;
  top:153px;
  width:4030px;
  height:424px;
  display:flex;
}
#u1888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3983px;
  height:394px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u1889 {
  border-width:0px;
  position:absolute;
  left:2098px;
  top:162px;
  width:3983px;
  height:394px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u1889 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
