body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:6081px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:83px;
  width:1125px;
  height:2436px;
  display:flex;
}
#u1844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:2602px;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:2602px;
  display:flex;
}
#u1845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel ', 'Hel', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#666666;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:95px;
  width:214px;
  height:58px;
  display:flex;
  font-family:'Hel ', 'Hel', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#666666;
}
#u1847 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:46px;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:103px;
  width:74px;
  height:46px;
  display:flex;
}
#u1848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:60px;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:198px;
  width:34px;
  height:60px;
  display:flex;
}
#u1849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
  letter-spacing:1.5px;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:328px;
  width:441px;
  height:108px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
  letter-spacing:1.5px;
}
#u1850 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1850_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1851 label {
  left:0px;
  width:100%;
}
#u1851_img {
  border-width:0px;
  position:absolute;
  left:406px;
  top:21px;
  width:52px;
  height:52px;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:654px;
  width:458px;
  height:93px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:62px;
  letter-spacing:1.5px;
}
#u1851 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1851_img.selected {
}
#u1851.selected {
}
#u1851_img.disabled {
}
#u1851.disabled {
}
#u1851_img.selectedDisabled {
}
#u1851.selectedDisabled {
}
#u1851_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:402px;
  word-wrap:break-word;
  text-transform:none;
}
#u1851_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1852 label {
  left:0px;
  width:100%;
}
#u1852_img {
  border-width:0px;
  position:absolute;
  left:406px;
  top:21px;
  width:52px;
  height:52px;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:519px;
  width:458px;
  height:93px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:62px;
  letter-spacing:1.5px;
}
#u1852 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1852_img.selected {
}
#u1852.selected {
}
#u1852_img.disabled {
}
#u1852.disabled {
}
#u1852_img.selectedDisabled {
}
#u1852.selectedDisabled {
}
#u1852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:402px;
  word-wrap:break-word;
  text-transform:none;
}
#u1852_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1853 label {
  left:0px;
  width:100%;
}
#u1853_img {
  border-width:0px;
  position:absolute;
  left:406px;
  top:21px;
  width:52px;
  height:52px;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:789px;
  width:458px;
  height:93px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:62px;
  letter-spacing:1.5px;
}
#u1853 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1853_img.selected {
}
#u1853.selected {
}
#u1853_img.disabled {
}
#u1853.disabled {
}
#u1853_img.selectedDisabled {
}
#u1853.selectedDisabled {
}
#u1853_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:402px;
  word-wrap:break-word;
  text-transform:none;
}
#u1853_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1854 label {
  left:0px;
  width:100%;
}
#u1854_img {
  border-width:0px;
  position:absolute;
  left:406px;
  top:21px;
  width:52px;
  height:52px;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:925px;
  width:458px;
  height:93px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:62px;
  letter-spacing:1.5px;
}
#u1854 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1854_img.selected {
}
#u1854.selected {
}
#u1854_img.disabled {
}
#u1854.disabled {
}
#u1854_img.selectedDisabled {
}
#u1854.selectedDisabled {
}
#u1854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:402px;
  word-wrap:break-word;
  text-transform:none;
}
#u1854_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1855 label {
  left:0px;
  width:100%;
}
#u1855_img {
  border-width:0px;
  position:absolute;
  left:406px;
  top:21px;
  width:52px;
  height:52px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:1059px;
  width:458px;
  height:93px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:62px;
  letter-spacing:1.5px;
}
#u1855 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1855_img.selected {
}
#u1855.selected {
}
#u1855_img.disabled {
}
#u1855.disabled {
}
#u1855_img.selectedDisabled {
}
#u1855.selectedDisabled {
}
#u1855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:402px;
  word-wrap:break-word;
  text-transform:none;
}
#u1855_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1856 label {
  left:0px;
  width:100%;
}
#u1856_img {
  border-width:0px;
  position:absolute;
  left:406px;
  top:21px;
  width:52px;
  height:52px;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:1197px;
  width:458px;
  height:93px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:62px;
  letter-spacing:1.5px;
}
#u1856 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1856_img.selected {
}
#u1856.selected {
}
#u1856_img.disabled {
}
#u1856.disabled {
}
#u1856_img.selectedDisabled {
}
#u1856.selectedDisabled {
}
#u1856_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:402px;
  word-wrap:break-word;
  text-transform:none;
}
#u1856_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:2px;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:633px;
  width:800px;
  height:1px;
  display:flex;
}
#u1857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:2px;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:759px;
  width:800px;
  height:1px;
  display:flex;
}
#u1858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:2px;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:898px;
  width:800px;
  height:1px;
  display:flex;
}
#u1859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:2px;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:1036px;
  width:800px;
  height:1px;
  display:flex;
}
#u1860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:2px;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:1174px;
  width:800px;
  height:1px;
  display:flex;
}
#u1861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2015px;
  height:1988px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:2051px;
  top:577px;
  width:2015px;
  height:1988px;
  display:flex;
}
#u1862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1922px;
  height:1944px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:2098px;
  top:653px;
  width:1922px;
  height:1944px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u1863 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1863_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2062px;
  height:3187px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:4019px;
  top:577px;
  width:2062px;
  height:3187px;
  display:flex;
}
#u1864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1968px;
  height:3111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:4066px;
  top:653px;
  width:1968px;
  height:3111px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u1865 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4030px;
  height:424px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1866 {
  border-width:0px;
  position:absolute;
  left:2051px;
  top:153px;
  width:4030px;
  height:424px;
  display:flex;
}
#u1866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3983px;
  height:394px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u1867 {
  border-width:0px;
  position:absolute;
  left:2098px;
  top:162px;
  width:3983px;
  height:394px;
  display:flex;
  font-family:'思源黑体 CN', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u1867 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1869_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:205px;
  height:205px;
}
#u1869 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:1604px;
  width:185px;
  height:185px;
  display:flex;
}
#u1869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:129px;
}
#u1870 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:1618px;
  width:117px;
  height:129px;
  display:flex;
}
#u1870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
